# Composer
/vendor/

# PHP csomagmenedzser cache
# composer.lock # Committing this file to version control is important because it will cause anyone who sets up the project to use the exact same versions of the dependencies that you are using. 

# PHP környezeti fájlok
.env
.env.*

# Laravel vagy egyéb framework cache/log (ha használsz ilyet)
storage/
bootstrap/cache/

# IDE-k
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operációs rendszer fájlok
.DS_Store
Thumbs.db

# Log fájlok
*.log

# PHPUnit / tesztek
.phpunit.result.cache

# Coverage reports
coverage/

# Caching és temp fájlok
*.cache
*.tmp

# Sensitive (?)
# config.php
# database.php
